.btn {
  background-color: #242755;
  border-color: #242755;
}

.btn:hover {
  background-color: #b6d055;
  border-color: #b6d055;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-xxl {
  flex-grow: 1;
}
