<main id="main-content">
  <div class="container-xxl">
    <div class="row g-4">
      <app-loader [isLoading]="isLoading"></app-loader>

      <div class="col-12" *ngIf="!isLoading">
        <div class="alert alert-info">
          <p class="mb-0">
            Nuestros horarios normales son de lunes a viernes de
            <strong>7:00 a.m.</strong> a <strong>5:00 p.m.</strong>
          </p>
          <p class="mb-0">
            Los servicios nocturnos tendrán un
            <strong>recargo adicional</strong>.
          </p>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <h4>Selecciona una Categoría para tu servicio</h4>
      <select class="form-select form-select-lg mb-3" (change)="onOptionChange($event)">
        <option disabled selected>Selecciona una opción...</option>
        <option value="4">Hogar</option>
        <option value="5">Pymes</option>
        <option value="6">Edificios(PH)</option>
      </select>
    </div>
    <!-- <div class="mt-2">
      <h4>Servicio Nocturno</h4>
      <div class="d-flex">
        <div class="m-2">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="siRadio"
              name="option"
              (change)="onCheckboxChange(1)"
            />
            <label class="form-check-label" for="siRadio">Sí</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="noRadio"
              name="option"
              (change)="onCheckboxChange(0)"
            />
            <label class="form-check-label" for="noRadio">No</label>
          </div>
        </div>
        <select
          *ngIf="selectedOption === 1"
          class="form-control w-50"
          (change)="onSelectChange($event)"
        >
          <option selected disabled>Selecciona cuántas horas</option>
          <option *ngFor="let i of [1, 2, 3, 4]" [value]="i">{{ i }}</option>
        </select>
      </div>
    </div> -->

    <div class="mt-4">
      <h4>Selecciona fecha de inicio y fin para tu servicio</h4>
      <div class="input-icon">
        <input type="text" class="mr-2" placeholder="Selecciona una fecha Inicio, fin y hora" ngxDaterangepickerMd
          timePicker="true" [(ngModel)]="selected" [locale]="locale" [value]="formattedRange" />
        <i class="bx bx-calendar icon-placeholder"></i>
      </div>
    </div>

    <div class="mt-4">
      <h4>Dirección para el servicio</h4>
      <app-map-location></app-map-location>
    </div>
  </div>
</main>