<footer id="main-footer">
  <div class="container-xxl text-center text-lg-start">
    <hr class="mt-0 mb-4" />
    <div class="row g-4 g-lg-0 align-items-center justify-content-between">
      <div class="col-12 col-lg-4 col-logo">
        <img
          src="https://cdn02.webit.com/api/v1/Image/5CC435B3348C1BC18034CDC92BFE186A/5CC435B3348C1BC18034CDC92BFE186A.png?size=1280x960"
          alt="" />
      </div>
      <div class="col-12 col-lg-8">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end">
          <p class="m-0">
            Clean Now ® 12 AÑOS © Todos los derechos reservados.
          </p>
          <div class="social-networks pt-4 ps-lg-4 pt-sm-0">
            <img src="./assets/images/social-ig-icon.svg" alt="" />
            <img src="./assets/images/social-facebook-icon.svg" alt="" />
            <img src="./assets/images/social-x-icon.svg" alt="" />
            <img src="./assets/images/social-linkedin-icon.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>